@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu-nav-landing {
    @apply text-web-background text-sm ml-10 font-medium flex-col
  }
}

@font-face {
  font-family: "AVENIR";
  src: url("../src/assets/fonts/Avenir\ Regular.ttf") format("truetype");
  
  font-family: "AVENIR-BLACK";
  src: url("../src/assets/fonts/Avenir\ Black.ttf") format("truetype");
  
  font-family: "AVENIR-HEAVY";
  src: url("../src/assets/fonts/Avenir\ Heavy.ttf") format("truetype");
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}